<!-- my-books.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <h1>My Books</h1>
    <a href="/index.html">Home</a> 
    <ul>
        <% books.forEach(book => { %>
            <li>
                <%= book.title %>
                <form action="/book/return/<%= book.isbn %>" method="POST" style="display: inline;">
                    <button type="submit">Return Book</button>
                </form>
            </li>
            
        <% }); %>
    </ul>
</body>
</html>
